
/* Sección de MIS PRODUCTOS */

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px ;
}

.product__title-txt{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

.product__container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

/* CARD PRODUCTOS */


.product__card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F85B1A;
    color: white;
    padding: 10px;
    border: solid 3px black;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-family: "IBM Plex Mono", monospace;
    width: 120px;
    min-height: 150px;
}

.product__card:hover{
    transform: scale(1.050);
}

.card__image{
    height: 110px;
    border: solid 3px black;
    border-radius: 10px;
    object-fit: cover;
}
.card__name{
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    height: 35px;
}

/* Parte inferior del Card con precio y Botón de trash */
.card__bottom{
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.card__bottom-price{
    font-size: 15px;
    font-weight: 500;
}

.card__bottom-delete{
    background: none;
    border: none;
}

.card__bottom-delete:hover{
    transform: scale(1.200);
}

@media (min-width: 768px) {
    .product__elements{
        width: 600px;
        height: 600px;
        overflow: scroll;
    }
    .product__container{
        justify-content: start;
        overflow: auto;
        padding: 10px;
    }
    .product{
        max-width: 500px;
        max-height: 500px;
    } 

    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #fcc0a6;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb {
        background: #F85B1A;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #072083;
    }
}